#ak-account{
    
    border-bottom: 2px solid darkgray;
    width: 70%;
    margin: auto;
    padding-bottom: 2%;
    font-family:  Theory-web-ul;
    margin-top: 3%;
    line-height:43.2px;
    font-weight: 400;
}
#ak-h1{
    text-decoration: none;
    text-align: center;
    width: 65%;
    line-height:43.2px;
    color: #000;
}
#ak-h1 > h1{
    font-weight: 500;
    font-size: 36px;
}


#ak-container{
    /* border: 1px solid rgb(41, 41, 30); */
    display: flex;
    justify-content: space-around;
    width:70%;
    margin: auto;
    margin-bottom:6%;
}


/* <------------Media Queries-------------> */

@media(max-width: 1140px){
    #ak-container{
        /* border: 1px solid rgb(41, 41, 30); */
       /* display: grid;
        grid-template-rows: repeat(2,1fr);*/
        flex-direction: column;
        width: 150%;
        margin: auto;
         margin-bottom:3%;
        margin-left: 13%;
    }
    #ak-register-form{ 
        width: 150%;
    }
    #ak-order-status{
        width: 150%;
    }
    #ak-status-check-btn{
        background-color: black;
        color: white;
        height: 55px;
        width: 95%;
        margin-top: 5%;
        cursor: pointer;
        font-size: 13px;
    }
 }
 /* <------------Media Queries End-------------> */


#ak-register-form{
    /* border: 1px solid brown; */
    width: 50%;
    font-family:  Theory-web-ul;
    margin-top: 3.5%;
    padding: 0 25px;
}
#ak-order-status{
    /* border: 1px solid blue; */
    width: 50%;
    font-family:  Theory-web-ul;
}
#head-sign-up{
    display: flex;
    border-bottom: 0.2px solid rgb(160, 160, 160);
    width: 100%;
}
.ak-sign-in{
    width: 45%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    
}
.ak-create-account{

    width: 55%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
   
}
#ak-hover:hover{
    /* border-bottom: 3px solid black; */
    cursor: pointer;
}
#ak-order-status{
    padding-left: 3%;
    padding-top: 8%;
}
#ak-order-head{
    font-size:15px;
    font-family:  Theory-web-ul;
    font-weight: 600;
}
#ak-order-text{
    font-size: 13px;
    line-height:19.5px;
    margin:13px 0px;
    font-family:  Theory-web-ul;
}
#input-order{
    height: 35px;
    width: 60%;
    margin-bottom: 13px;
    padding-left: 3%;
    font-size: 13px;
}
#ak-status-check-btn{
    background-color: black;
    color: white;
    height: 40px;
    width: 55%;
    margin-top: 5%;
    cursor: pointer;
    font-size: 12px;
    border: none;
    font-weight:500;
    font-family:  Theory-web-ul;
}
#ak-remember-me{
    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px; 
}
.checkmark{
    height: 25px;
    width: 25px;
}
.Remember-me{
    margin-right: 15px;
}
#ak-name-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 25px;
    width:100% ;
}

.signup{
    display: none;
}
.ak-sign-in{
    border-bottom: 3px solid black;
}
#ak-input{
    height:40px;
    width: 60%;
    margin-bottom: 13px;
    padding-left: 3%;
    font-size: 13px;
}
#ak-signup-input{
    height: 40px;
    width: 96%;
    margin-bottom: 13px;
    padding-left: 3%;
    font-size: 13px;
}
.errr{
    font-size: 12px;
    color: #c92432;
    margin-top: -5px;
    margin-bottom: 10px;
}

#ak-name-box div{
    width: 46.2%;
}
#ak-sign-input{
    height: 40px;
   width: 100%;
    margin-bottom: 13px;
    padding-left: 3%;
    font-size: 13px;
}

.login{
    padding-top: 9%;
}
.signup{
    padding-top: 9%;
}
.pass-link{
    padding-top: 5%;
    font-size: 13px;
    color: black;

}
.pass-link a{
    color:black;
}
#ak-birthday{
    font-size: 13px;
    font-weight:600;
    margin: 10px 0;
}
.select-m{
    height:40px;
    width: 36%;
    margin-right: 2%;
    font-size: 13px;
}
.select-d{
    height: 40px;
    width: 21%;
    margin-right: 2%;
    font-size: 13px;
}
.select-y{
    height: 40px;
    width: 35%;
    font-size: 13px;
}
#ak-gender{
    font-size:13px;
    line-height:19.5px;
    margin-bottom: 15px;
}
#ak-gender p{
    font-weight: 600;
    margin: 10px 0;
}
#ak-gender label{
    margin-right:20px;
}
#ak-like-to-hear-from-theory{
    font-size: 13px;
    margin: 10px 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
#ak-theory-policy{
    font-size: 13px;
    line-height:19.5px;
}
#ak-theory-policy a{
    color: black;
}